.registerPage {
  margin: 0 auto;
  width: 100%;
  padding: 0 16rem;
  max-width: calc(100vw - 300px);
  max-height: calc(100vh - 61px);
}
.table__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.table__title h1 {
  margin: 0;
}
.table__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 0;
}
.select {
  flex: 0.3;
}
.input {
  flex: 1;
}
