.wordlearningPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
  }
  .btn {
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 290px;
  }
  